@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');

html {
    font-family: 'Nunito', sans-serif;
}



// navigation bar

.navbar {
    background-color: transparent;
    font-family: 'Nunito', sans-serif;

    a {
        font-family: 'Nunito', sans-serif;

    }

    .navbar-light .navbar-nav .nav-link,
    .nav-link {
        font-family: 'Nunito', sans-serif !important;

    }
}

.intro {
    padding: 100px 0;

    .content {
        width: 80%;
        font-family: 'Nunito', sans-serif;

        .red {
            color: #FF5050;
        }

        p {
            line-height: 1.7;
        }
    }

}

// Skills Section

.skills {
    .details {
        li:before {
            display: inline-block;
            content: '';
            -webkit-border-radius: 0.375rem;
            border-radius: 0.375rem;
            height: 0.5rem;
            width: 0.5rem;
            margin-right: 0.5rem;
            background-color: #222;
            
        }

        li {
            font-family: 'Nunito', sans-serif;
            // font-weight: 200;
        }

        h5 {
            font-family: 'Nunito', sans-serif;
            font-size: 1rem;
        }
    }

    h3 {
        color: #FF5050;
        font-family: 'Nunito', sans-serif;

    }

    h4 {
        font-family: 'Nunito', sans-serif;

    }
}